<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ligas de fútbol</title>
  <link rel="stylesheet" href="ligas.css">
</head>
<body>
<h1>Ligas de Fútbol</h1>
<div class="container">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipo : ${ligas}">
      <td th:text="${equipo.id}"></td>
      <td th:text="${equipo.nombre}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>
